<ul
  class="flex flex-wrap text-sm font-medium text-center border-gray-700 text-gray-400"
>
  <li class="me-2">
    <button
      (click)="switchTab('login')"
      [class]="
        activeTab === 'login'
          ? 'inline-block p-4 rounded-t-lg bg-gray-800 text-white'
          : 'inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300'
      "
    >
      Connexion
    </button>
  </li>
  <li class="me-2">
    <button
      (click)="switchTab('register')"
      [class]="
        activeTab === 'register'
          ? 'inline-block p-4 rounded-t-lg bg-gray-800 text-white'
          : 'inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300'
      "
    >
      Inscription
    </button>
  </li>
</ul>

@if(activeTab === 'login') {
<form class="bg-gray-900 p-10 rounded-lg shadow-xl w-full max-w-md">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-white"
      >E.mail</label
    >
    <input
      type="email"
      [(ngModel)]="log.email"
      name="email"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
      required
    />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-white"
      >Mot de passe</label
    >
    <input
      type="password"
      name="password"
      [(ngModel)]="log.password"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
      required
    />
  </div>
  <button
    type="submit"
    (click)="login()"
    class="text-white font-medium rounded-lg text-sm w-full px-5 py-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-800"
  >
    Valider
  </button>
</form>
} @else if (activeTab === 'register') {
<form class="bg-gray-900 p-10 rounded-lg shadow-xl w-full max-w-md">
  <div class="mb-5">
    <label for="pseudo" class="block mb-2 text-sm font-medium text-white"
      >Pseudo</label
    >
    <input
      type="text"
      [(ngModel)]="user.username"
      name="username"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
      required
    />
  </div>
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-white"
      >E.mail</label
    >
    <input
      type="email"
      [(ngModel)]="user.email"
      name="email"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
      required
    />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-white"
      >Mot de passe</label
    >
    <input
      type="password"
      name="password"
      [(ngModel)]="user.password"
      class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
      required
    />
  </div>
  <button
    type="submit"
    (click)="saveUser()"
    class="text-white font-medium rounded-lg text-sm w-full px-5 py-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-800"
  >
    S'enregistrer
  </button>
</form>
}
