<button
  data-modal-target="crud-modal"
  data-modal-toggle="crud-modal"
  type="button"
  class="text-white bg-gray-800 hover:bg-gray-900 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-2"
>
  Ajouter une tâche
</button>

<!-- Modal -->
<div
  id="crud-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative rounded-lg shadow bg-gray-700">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600"
      >
        <h3 class="text-lg font-semibold text-white">
          Ajouter une nouvelle tâche
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center hover:bg-gray-600 hover:text-white"
          data-modal-toggle="crud-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      @if (errorMessage) {
      <div class="text-red-500 mb-4">
        {{ errorMessage }}
      </div>
      }

      <form class="p-4 md:p-5" (submit)="newTask()">
        <div class="mb-4">
          <div class="col-span-2 mb-4 sm:col-span-1">
            <input
              type="text"
              name="name"
              [(ngModel)]="task.name"
              class="bg-gray-600 border-gray-500 border text-white text-sm rounded-lg w-full placeholder:text-gray-400"
              placeholder="Nom de la tâche"
              required
            />
          </div>

          <div class="col-span-2 mb-4 sm:col-span-1">
            <input
              type="text"
              name="description"
              [(ngModel)]="task.description"
              class="bg-gray-600 border-gray-500 border text-white text-sm rounded-lg w-full placeholder:text-gray-400"
              placeholder="Description de la tâche"
              required
            />
          </div>

          <div class="col-span-2 mb-4 sm:col-span-1">
            <select
              [(ngModel)]="task.priority"
              name="priority"
              class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white placeholder:text-gray-400"
              required
            >
              <option [ngValue]="null" disabled>
                Sélectionner une priotité
              </option>
              <option value="LOW">Faible</option>
              <option value="MEDIUM">Moyenne</option>
              <option value="HIGH">Élevée</option>
            </select>
          </div>

          <div class="col-span-2 mb-4 sm:col-span-1">
            <select
              [(ngModel)]="task.status"
              name="status"
              class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white placeholder:text-gray-400"
              required
            >
              <option [ngValue]="null" disabled>Sélectionner un statut</option>
              <option value="TODO">À faire</option>
              <option value="IN_PROGRESS">En cours</option>
              <option value="DONE">Terminé</option>
              <option value="CLOSED">Fermé</option>
            </select>
          </div>

          <div class="col-span-2 mb-4 sm:col-span-1">
            <input
              type="date"
              name="endDate"
              [(ngModel)]="task.endDate"
              class="bg-gray-600 border-gray-500 border text-white text-sm rounded-lg w-full placeholder:text-gray-400"
              placeholder="Nom de la tâche"
              required
            />
          </div>

          <div class="col-span-2 mb-4 sm:col-span-1">
            <select
              id="assigneeId"
              [(ngModel)]="task.assigneeId"
              name="assigneeId"
              class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white placeholder:text-gray-400"
              required
            >
              <option [ngValue]="null" disabled>Sélectionner un membre</option>
              @for (item of data; track $index) {
              <option [ngValue]="item.id">{{ item.username }}</option>
              }
            </select>
          </div>
        </div>
        <button
          type="submit"
          class="text-white inline-flex items-center focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
        >
          Créer
        </button>
      </form>
    </div>
  </div>
</div>
